PyJWT==1.6.4
certifi==2018.4.16
chardet==3.0.4
docker==3.3.0
docker-pycreds==0.2.3
dramatiq==1.2.0
idna==2.6
marshmallow==2.15.0
marshmallow-enum==1.4.1
prometheus-client==0.0.20
pytz==2018.4
raven==6.8.0
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
websocket-client==0.47.0
